@import url('https://fonts.googleapis.com/css?family=Nova+Flat:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

$fontPageTitle: 'Nova Flat', Tahoma, cursive;
$fontPageBody: 'Open Sans', Tahoma, sans-serif;

$colorBrand: #40698e;
$colorDark: #1e2833;
$colorDarkAccent: #2a4054;
$colorLight: #e5e7ee;
$colorLightAccent: #cbd5e0;

$colorFontPrimary: #f5f5f5;
$colorFontSecondary: #333;
$defaultMargin: 20px;

@mixin colorCombo($bgColor, $fontColor) {
    background-color: $bgColor;
    color: $fontColor;
}

@mixin shadow($depth) {
    -webkit-box-shadow: 0 0 ($depth * 8px) 0 rgba(0, 0, 0, 0.2),
        ($depth * 2px) ($depth * 4px) ($depth * 4px) 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 ($depth * 8px) 0 rgba(0, 0, 0, 0.2),
        ($depth * 2px) ($depth * 4px) ($depth * 4px) 0 rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    height: 100vh;
    text-rendering: optimizeLegibility;
    font-family: $fontPageBody;

    @include colorCombo($colorLight, $colorFontSecondary);

    .pageHeader {
        width: 100vw;
        padding: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: 800;

        @include colorCombo($colorDark, $colorFontPrimary);

        .logo {
            display: inline-block;

            img {
                height: 50px;
                width: 50px;
            }
        }

        .pageTitle {
            display: inline-block;
            font-family: $fontPageTitle;
            /* position: absolute;
            top: 40px; */
        }
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;

        a {
            margin: $defaultMargin;
            padding: 1em 1.5em;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 300px;
            flex: 0 0 300px;
            max-height: 50px;
            border-radius: 2px;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: 600;

            @include colorCombo($colorBrand, $colorFontPrimary);
            @include shadow(1);

            &:hover,
            &:focus {
                cursor: pointer;
                -webkit-transform: scale(1.04) translate3d(0, 0, 0);
                transform: scale(1.04) translate3d(0, 0, 0);

                @include colorCombo($colorDark, $colorFontPrimary);
                @include shadow(2);
            }

            &:active {
                top: 5px;
            }

            &:last-child {
                margin-bottom: 150px;
            }

            &.pending,
            &.pending:hover,
            &.pending:focus {
                cursor: not-allowed;
                // opacity: 0.8;
                -webkit-box-shadow: none;
                box-shadow: none;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;

                @include colorCombo($colorLightAccent, $colorFontSecondary);
            }

            @media (max-width: 1024px) {
                margin: $defaultMargin auto;
            }
        }
    }

    .pageFooter {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 7px;
        text-align: center;
        font-size: 30px;
        font-weight: 800;

        @include colorCombo($colorDarkAccent, $colorFontPrimary);

        .footerContent {
            font-family: $fontPageTitle;
        }
    }
}
